body {
  margin: 0px;
}
/* HEADER */

header {
  background-color: #25a3f5;
  display: flex;
  align-items: center;
}

header a,
i {
  color: white;
  padding: 10px;
}
nav li,
i {
  display: inline-block;
  margin-left: 50px;
}

nav ul {
  padding: 0px;
  margin-left: 1000px;
}
.logo {
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
}

/* LINKS */
a {
  text-decoration: none;
}

header a:hover {
  color: #feab00;
}

.active_site {
  color: #feab00;
}
/* MAIN */

.welcome {
  background-image: url(../images/Bakgrunn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 95vh;
  position: relative;
  margin: 0px;
  display: flex;
}

main h1 {
  color: #feab00;
  margin-bottom: 100px;
  font-size: 6em;
}

.welcome_content {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 10vh;
  margin: auto auto auto 500px;
  max-width: 1000px;
}

.cta_button {
  background-color: #25a3f5;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  padding: 20px 200px;
  border-radius: 30px;
}

.cta_button:hover {
  background-color: #feab00;
}

/* FOOTER */

.footer {
  background: #25a3f5;
  color: white;
  height: auto;
}

.footer-content {
  display: flex;
  padding: 20px;
}

footer p {
  margin: 8px;
}

.footer .footer-contact {
  margin-left: 50px;
}

.footer .footer-info {
  margin-left: 200px;
}

.footer .footer-subscribe {
  margin-left: 200px;
}
