body {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* HEADER */

header {
  background-color: #25a3f5;
  display: flex;
  align-items: center;
}

header a,
i {
  color: white;
  padding: 10px;
}
nav li,
i {
  display: inline-block;
  padding: 20px 30px;
}

nav ul {
  padding: 0px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  padding: px;
}

/* LINKS */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #feab00;
}

i:hover {
  color: #feab00;
}

.active_site {
  color: #feab00;
}

/* MAIN */

.welcome {
  background-image: url(../images/Bakgrunn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0px;
  text-align: center;
}

.welcome_content {
  display: inline-block;
  text-align: center;
  top: 10vh;
  max-width: 1000px;
}

.welcome2 {
  background-image: url(../images/universe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
}

.about_us {
  min-height: 95vh;
  position: relative;
  margin: 0px;
  display: flex;
}

.aboutus_content {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 10vh;
  margin: auto auto auto 700px;
  max-width: 1000px;
}

.about_us p {
  color: black;
}

.aboutus_image {
  max-width: 600px;
}

main p {
  color: white;
  font-size: 2em;
}

/* MYPROFILE */

.myprofile {
  background-image: url(../images/Bakgrunn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  margin: 0px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.myprofile a {
  background-color: #25a3f5;
  margin: 95px 250px;
  border: 5px black;
  border-radius: 40px;
  font-size: 2em;
}
.profile {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  align-items: center;
}

.sign_out {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  align-items: center;
}

.offers {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  align-items: center;
}

.my_games {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  align-items: center;
}

h1 {
  color: #feab00;
  margin-bottom: 100px;
  font-size: 6em;
}

.welcome_content p {
  padding: 20px;
  color: #feab00;
}

.cta_button {
  background-color: #25a3f5;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  padding: 30px 60px;
  border-radius: 30px;
  border: 10px solid white;
}

.cta_button:hover {
  background-color: #020f59;
  color: white;
}

/* CARTPAGE */

.cartpage {
  background-image: url(../images/universe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cartpage_content {
  background-color: #25a3f5;
  border-radius: 30px;
  margin: 50px 40px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.tikitaka {
  display: grid;
  grid-row: 2;
  grid-column: 2;
}

.tikitaka_cover {
  width: 120px;
  height: 170px;
  margin: 10px;
}

.contact {
  background-image: url(../images/contactpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 95vh;
  position: relative;
  margin: 0px;
}

.contact_content {
  color: white;
  align-items: center;
  text-align: center;
  grid-column: 2;
  background-color: #1d2226;
  border-radius: 40px;
  padding-bottom: 50px;
  margin: 50px 744px 50px 586px;
}

.contact_header {
  color: red;
}

.success_mark {
  max-width: 400px;
  max-height: 400px;
  align-items: center;
  display: grid;
  grid-row: 2;
  margin: auto 250px;
}

.success_content {
  background-color: #25a3f5;
  border-radius: 40px;
  padding: 40px;
  display: grid;
  grid-column: 2;
  text-align: center;
  align-items: center;
  margin: 100px auto;
}

/* SELL GAMES */

.sell_games {
  background-image: url(../images/Bakgrunn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 95vh;
  position: relative;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.maintitle_forum {
  font-size: 2em;
  padding: 0px;
  margin: 10px;
  color: #feab00;
}

.secondtitle_forum {
  font-size: 1em;
  padding: 0px;
  margin: 0px;
  color: ;
}

.sellgames_content {
  display: grid;
  grid-column: 2;
  color: white;
  background-color: #25a3f5;
  border: 5px solid white;
  border-radius: 30px;
  padding: 0px;
  text-align: center;
  align-items: center;
  margin: 200px 500px;
}

.selling_form {
  display: grid;
  padding: 40px;
  border: 2px white;
}

.cta_small {
  background-color: #25a3f5;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  padding: 8px 5px;
  border-radius: 30px;
  border: 4px solid white;
}

.cta_small:hover {
  background-color: #020f59;
  color: white;
}

.buttons {
}

.homepage_button {
  background-color: #25a3f5;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  padding: 8px 5px;
  border-radius: 30px;
  border: 5px solid white;
}

.homepage_button:hover {
  background-color: #020f59;
  color: white;
}

.checkout_logo {
  max-width: 200px;
  max-height: 100px;
  align-items: center;
  padding: 10px;
  margin-left: 250px;
}

.card_info {
}

.mmyy_label {
  padding: 10px;
  text-align: center;
  background-color: #25a3f5;
  border: 4px solid white;
  border-radius: 40px;
  margin: 10px 200px;
  position: relative;
}

.cvv_label {
  padding: 10px;
  text-align: center;
  background-color: #25a3f5;
  border: 4px solid white;
  border-radius: 40px;
  margin: 10px 200px;
  position: relative;
}

.zip_label {
  padding: 10px;
  text-align: center;
  background-color: #25a3f5;
  border: 4px solid white;
  border-radius: 40px;
  margin: 10px 200px;
  position: relative;
}

.console_label {
  padding: 10px;
  text-align: center;
  background-color: #25a3f5;
  border: 4px solid white;
  border-radius: 40px;
  margin: 10px 200px;
  position: relative;
}

label {
  font-size: 20px;
  display: grid;
}

/* SIGN IN */
.signin {
  background-image: url(../images/gamer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0px;
  text-align: center;
}

.signin_content {
  display: block;
  color: white;
  text-align: center;
}

.signin_form {
  display: grid;

  padding: 40px;
  border: 2px white;
}

/* CREATE A ACCOUNT */
.createaaccount {
  background-image: url(../images/Bakgrunn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 95vh;
  position: relative;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.caa_content {
  display: grid;
  grid-column: 2;
  color: white;
  background-color: #25a3f5;
  border: 5px solid white;
  border-radius: 30px;
  padding: 0px;
  text-align: center;
  align-items: center;
  margin: 200px 200px;
}

.name_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.email {
  display: grid;
}

.password_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

fieldset div {
  padding: 10px 0px;
}

.offer_content {
  display: grid;
  grid-column: 2;
  color: white;
  background-color: #25a3f5;
  border: 5px solid white;
  border-radius: 30px;
  padding: 0px;
  text-align: center;
  align-items: center;
  margin: 200px 100px;
}

.secondtitle_offers {
  font-size: 1em;
  padding: 90px 10px;
  margin: 0px;
  color: #feab00;
  border: 1px solid white;
}

.gamepage {
  background-color: white;
  background-repeat: no-repeat;
  background: cover;
  min-height: 95vh;
  position: relative;
  margin: 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.gamepage p {
  color: black;
  font-size: large;
  margin-left: 100px;
}

.tikitaka {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  display: inline-block;
}

.tikitaka_cover {
  background-image: url(../images/tikitaka.jpg);
  background-position: center;
  background-size: auto;
}

.Shotgun {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  text-align: left;
  display: inline-block;
}

.Shotgun_cover {
  background-image: url(../images/Shotgun.jpg);
  background-size: auto;
  margin-right: 1500px;
  background-position: center;
  padding: 50px 30px;
  margin-left: 10px;
}

.Speedywheely {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  display: inline-block;
  text-align: left;
}

.Speedywheely_cover {
  background-image: url(../images/speedywheely.jpg);
  background-size: auto;
  margin-right: 1500px;
  background-position: center;
  padding: 50px 30px;
  margin-left: 10px;
}

.search_filter {
  display: block;
  display: grid;
  grid-row: 1;
  grid-column: 1;
  padding: 10px;
}

.genre {
  display: block;
  display: grid;
  grid-row: 2;
  grid-column: 1;
  padding: 10px;
}

.supported_system {
  display: block;
  display: grid;
  grid-row: 3;
  grid-column: 1;
  padding: 10px;
}

.buy_button {
  color: white;
  background-color: #25a3f5;
  border-radius: 40px;
  padding: 10px 20px;
  margin-left: 1400px;
}

.buy_button:hover {
  color: white;
  background-color: #020f59;
}

hr {
  color: black;
}

.price {
  display: grid;
  text-align: right;
  margin-right: 260px;
  font-size: 2em;
}
/* FOOTER */

.footer {
  background: #25a3f5;
  color: white;
  height: auto;
}

.footer-content {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.text {
  font-size: large;
  font-style: bold;
}
footer p {
  margin: 8px;
  padding: 2px;
}

footer a {
  display: grid;
  height: auto;
  margin: 8px;
  padding: 2px;
}

footer .footer .footer-contact {
  margin-left: 50px;
  grid-column: 1;
}

.footer .footer-info {
  margin-left: 200px;
  grid-column: 2;
}

.footer .footer-subscribe {
  margin-left: 200px;
  grid-column: 3;
  text-align: left;
}

@media (max-width: 380px) {
  .cta_button {
    padding: 10px;
    border: 2px solid white;
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  .welcome_content p {
    font-size: 20px;
  }

  body {
    margin: 0px;
  }
  .footer {
    margin: 0px;
    padding: 0px;
  }
  footer.content {
    grid-template-columns: 1fr;
    display: flex;
  }
}

@media (min-width: 381px) {
  .cta_button {
    padding: 20px;
    border: 4px solid white;
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }

  body {
    margin: 0px;
  }
}

@media;
