body {
  margin: 0%;
  background-image: url(../images/Bakgrunn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 4fr auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* HEADER */

header {
  background-color: #25a3f5;
  color: white;
  display: flex;
  text-align: right;
}

header nav {
  text-align: right;
  margin-left: 1100px;
  align-items: center;
}

.logo {
  max-width: 120px;
  margin: 10px;
  padding: 1px;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: right;
}

nav ul {
  padding: 0px;
  margin-top: 30px;
}

header li,
i {
  display: inline-block;
  margin: 10px;
  padding: auto;
}

/* MAIN */

main h1 {
  color: #feab00;
  text-align: center;
  font-size: 80px;
  padding: 40px;
}

.cta_button {
  display: grid;
  border: 5px solid white;
  text-align: center;
  position: relative;
  align-items: center;
  font-size: 2em;
  color: white;
  background-color: #25a3f5;
  text-decoration: none;
  padding: 20px;
  margin-top: 50px;
  margin-left: 700px;
  margin-right: 700px;
}
.cta_button:hover {
  background-color: #feab00;
}

/* FOOTER */

.footer {
  background: #25a3f5;
  color: white;
  height: auto;
  position: relative;
}

.footer-content {
  display: grid;
  padding: 20px;
}

footer p {
  margin: 8px;
}

.footer .footer-contact {
  display: grid;
  grid-column: 1;
}

.footer .footer-info {
  display: grid;
  grid-column: 2;
}

.footer .footer-subscribe {
  display: grid;
  grid-column: 3;
}
